/* Default styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Refer to whole page */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
/* Title */
h1 {
  text-align: center;
  bottom: 20px;
  font-size: 20px;
  text-decoration: underline;
}
/* Main div container */
.mainContent {
  background-color: pink;
  border: 2px solid black;
  width: 445px;
  height: 500px;
  position: relative;
  top: 10px;
}
/* Input text field  */
input[type="text"] {
  width: 220px;
  margin-top: 20px;
  margin-left: 5px;
  padding: 5px;
  border: 2px solid black;
}
/* Date field */
input[type="date"] {
  border: 2px solid black;
  width: 106px;
}
/* Add button */
#addTask {
  position: relative;
  left: 360px;
  bottom: 30px;
  width: 50px;
  height: 30px;
  background-color: deeppink;
  color: #fff;
  text-align: center;
  border: none;
  cursor: pointer;
  border: 2px solid black;
}
/* Text styling for input field when text appear */
.task {
  position: relative;
  margin: 20px 30px;
  font-size: 15px;
  padding-right: 100px;
  word-wrap: break-word;
}
/* Button Container */
.btnWidget {
    display: block;
  position: absolute;
}

/* Delete Button */
.delete-btn {
  position: absolute;
  left: 365px;
  background-color: pink;
  color: white;
  padding: 5px 10px;
  border: 2px solid black;
  cursor: pointer;
}

/* Edit Button */
.edit-btn {
  position: absolute;
  right: 20px;
  padding: 5px 10px;
  background-color: pink;
  color: black;
  border: 2px solid black;
  cursor: pointer;
}
/* Complete Button */
.complete-Btn {
  position: absolute;
  padding: 5px 10px;
  background-color: pink;
  left: 277px;
  padding: 5px 10px;
  color: white;
  border: 2px solid black;
  cursor: pointer;
}

/* Strikethrough input field when complete button is click */
.strikethrough {
  text-decoration: line-through;
  color: deeppink;
}


